@{
    ViewData["Title"] = "Home Page";
}

<button class="btn btn-primary" onclick="mostrarToast()" type="button">Show</button>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="myToast" class="toast">
        <div class="toast-header">
            <strong class="me-auto">Mensaje enviado</strong>
            <small>Hace unos instantes</small>
            <button class="btn-close" data-bs-dismiss="toast"></button>
        </div>
        <div class="toast-body">
            El mensaje fue enviado a Marcela
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function mostrarToast() {
            var ejemploToast = document.getElementById('myToast');
            var toast = new bootstrap.Toast(ejemploToast);
            toast.show();
        }
    </script>
}